# .gitignore for GreenX

# Build files
*.o
*.mod

# Build directories
build/
cmake-build-debug/
cmake-build-release/
python/pygreenx.egg-info/

# Binaries
*.exe

# Libs
*.a

# IDE files
.idea/
.vscode/

# Python
__pycache__/

# Backups
*~

# MacOSX
.DS_Store

# Temporary files or directories
tags

# vim files
*.swp
*.swo
*.swn
