name: CI Tests

on: [push, pull_request]

jobs:
  GNU:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        compiler: [gfortran]

    env:
      FC: ${{ matrix.compiler }}

    name: ${{ matrix.os }} / ${{ matrix.compiler }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Checkout Submodules
        run: git submodule update --init --recursive

      - uses: actions/setup-python@v1
        with:
          python-version: '3.7'

      - name: Install Cmake
        run: pip3 install cmake

      - name: Install python dependencies
        run: pip3 install numpy pytest

      - name: Install blas, lapack and other dependencies
        run: sudo apt-get install libblas-dev liblapack-dev doxygen libgmp10 libgmpxx4ldbl libgmp-dev libopenblas-dev

      - name: Install Zofu Test Framework
        run: |
          mkdir -p external && cd external
          git clone https://github.com/acroucher/zofu.git
          mkdir zofu/build && cd zofu/build
          cmake \
             -DCMAKE_BUILD_TYPE=release \
             -DCMAKE_INSTALL_PREFIX=/home/runner/work/greenX/greenX/external/zofu/install \
             -DZOFU_FORTRAN_MODULE_INSTALL_DIR:PATH=include \
             ..
          make -j 4
          make install

      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake -DENABLE_UNITTESTS=ON \
                -DZOFU_PATH=/home/runner/work/greenX/greenX/external/zofu/install \
                -DGMPXX_INCLUDE_DIR=/usr/include/ \
                -DGMPXX_LIBRARY=/usr/lib/x86_64-linux-gnu/libgmpxx.so ../
          make -j$(nproc)

      - name: Run Tests
        run: |
          cd python && pip install -e . && cd ../
          cd build
          ctest -j1 --output-on-failure
        # The build system exports GX_BUILD_DIR, but I do not know how to
        # propagate env vars between steps in Github Actions
        env:
          GX_BUILD_DIR: "/home/runner/work/greenX/greenX/build"
